.weather-weekday {
  display: flex;
  flex-direction: column;
  background-color: #eef6fb;
  align-items: center;
  font-size: 30px;

  .weather-icon {
    width: 110px;
    height: 110px;
  }

  .weather-weekday-title {
    font-weight: 300;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
  }

  .weather-weekday-degree {
    margin-top: 15px;
    font-size: 40px;
  }
}
