.container-grid {
  width: 100%;
  max-width: 1280px;
  border-radius: 10px;
  border: 8px solid #ffffff;
  width: 100%;
  font-size: 35px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 8px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.3);

  .container-grid-header {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    background-color: #eef6fb;
    padding: 55px 0;
    align-items: center;
    height: 260px;
  }

  .container-grid-cell {
    display: flex;
    flex-direction: column;
    background-color: #eef6fb;
    padding: 55px 0;
    align-items: center;
    font-size: 30px;
    height: 230px;
    margin: 0;
    list-style: none;

    @media screen and (max-width: 900px) {
      grid-column: span 4;
    }
  }
}
